In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('./NBA_Stats/player_stats.csv')

ParserError: Error tokenizing data. C error: Expected 24 fields in line 50627, saw 27

In [3]:
df.shape

(17210, 27)

In [4]:
df.describe()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
count,17210,17210,17210,17210,17210,17210,17210,17210,17210,17210,...,17210,17210,17210,17210,17210,17210,17210,17210,17210,17210
unique,2,494,792,107,1287,3,54,24,38,184,...,22,27,20,9,10,13,8,61,86,2
top,22022,Player_ID,Game_ID,GAME_DATE,MATCHUP,L,MIN,1,5,0.5,...,1,2,0,0,0,0,1,0,0,1
freq,16629,581,581,581,581,8331,581,2336,1197,2149,...,2892,2323,4410,9053,11490,6010,4061,1781,774,16629

In [9]:
grouped = df.groupby("Player_ID")
grouped.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22022,1630173,0022200789,"FEB 03, 2023",TOR @ HOU,W,29,2,7,0.286,...,5,8,2,1,1,2,6,9,-8,1
1,22022,1630173,0022200776,"FEB 01, 2023",TOR @ UTA,L,25,6,8,0.75,...,1,6,1,1,1,0,4,13,3,1
2,22022,1630173,0022200762,"JAN 30, 2023",TOR @ PHX,L,34,5,9,0.556,...,7,12,1,1,1,1,3,11,-6,1
3,22022,1630173,0022200751,"JAN 28, 2023",TOR @ POR,W,33,11,16,0.688,...,10,13,0,2,1,2,3,27,27,1
4,22022,1630173,0022200740,"JAN 27, 2023",TOR @ GSW,L,36,8,12,0.667,...,6,11,2,1,0,2,2,17,-8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17157,22022,1627826,0022200784,"FEB 02, 2023",LAC @ MIL,L,29,4,7,0.571,...,7,13,1,0,1,1,6,12,-6,1
17158,22022,1627826,0022200766,"JAN 31, 2023",LAC @ CHI,W,28,6,7,0.857,...,9,12,1,0,3,0,2,14,15,1
17159,22022,1627826,0022200754,"JAN 29, 2023",LAC @ CLE,L,22,0,5,0.0,...,5,7,0,0,0,1,1,2,-29,1
17160,22022,1627826,0022200745,"JAN 28, 2023",LAC @ ATL,W,37,6,9,0.667,...,4,6,3,1,2,0,4,18,10,1
17161,22022,1627826,0022200735,"JAN 26, 2023",LAC vs. SAS,W,21,4,5,0.8,...,4,5,0,0,2,1,5,11,16,1

In [10]:
df["Game Count"] = grouped["Game_ID"].cumcount() + 1

In [11]:
df.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Game Count
0,22022,1630173,0022200789,"FEB 03, 2023",TOR @ HOU,W,29,2,7,0.286,...,8,2,1,1,2,6,9,-8,1,1
1,22022,1630173,0022200776,"FEB 01, 2023",TOR @ UTA,L,25,6,8,0.75,...,6,1,1,1,0,4,13,3,1,2
2,22022,1630173,0022200762,"JAN 30, 2023",TOR @ PHX,L,34,5,9,0.556,...,12,1,1,1,1,3,11,-6,1,3
3,22022,1630173,0022200751,"JAN 28, 2023",TOR @ POR,W,33,11,16,0.688,...,13,0,2,1,2,3,27,27,1,4
4,22022,1630173,0022200740,"JAN 27, 2023",TOR @ GSW,L,36,8,12,0.667,...,11,2,1,0,2,2,17,-8,1,5

In [12]:
df.to_csv(f'./NBA_Stats/player_stats_GAMEInfo.csv')